.container {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconContainer {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: blue;
}

.icon {
    width: 35px;
}