.container {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Espaço entre os ícones e o texto */
}

.icon {
    font-size: 24px;
    /* Você pode ajustar esse tamanho conforme necessário */
}