/* Estilos padrão para telas maiores */
.container {
    background-color: #EEF;
    padding: 5px 80px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textSearch {
    width: 300px;
    height: 30px;
    border-radius: 8px;
    padding: 0px 30px;
    text-align: center;
}

.lupaIcon {
    position: absolute;
    left: 330px;
    width: 20px;
    height: 17px;
}

.logo {
    object-fit: contain;
    display: flex;
}

.loginContainer {
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login {
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 32px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
    color: #fff;
    background-color: #20c65c;
    transition: all 0.3s ease-in-out;
}

.login:hover {
    color: #fff;
    background-color: #0066ff;
}

.logout {
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 32px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 7px;
    background-color: #20c65c;
    transition: all 0.3s ease-in-out;
}

.logout:hover {
    color: #fff;
    background-color: #0066ff;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        padding: 5px 20px;
        /* Reduza o espaçamento horizontal */
    }

    .textSearch {
        width: 200px;
        /* Reduza a largura do campo de pesquisa */
    }

    .lupaIcon {
        left: 230px;
        /* Ajuste a posição do ícone de pesquisa */
    }

    .loginContainer {
        width: 120px;
        /* Reduza a largura do contêiner de login */
    }

    .login,
    .logout {
        font-size: 12px;
        /* Reduza o tamanho da fonte */
        width: 60px;
        /* Reduza a largura dos botões de login/logout */
        height: 28px;
        /* Reduza a altura dos botões de login/logout */
    }
}