.searchBar {
    width: 50%;

}

/* Estilos para telas menores (mobile) */
@media (max-width: 768px) {
    .logoContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .mobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .usuarioOptions {
        gap: 10px;
    }

    /* ... outros estilos para mobile ... */
}