.searchBar {
    width: 100%;
    /* Largura total para dispositivos móveis */

    @media (min-width: 768px) {
        width: 700px;
        /* Largura de 700 pixels para telas maiores */
        margin: 0 auto;
        /* Centralizar horizontalmente */
    }
}