.navbar {
    width: 100%;
    height: 50px;
    background-color: #017402;
    font-weight: bold;
  }
  
  .responsiveNavbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  @media (min-width: 768px) {
    .responsiveNavbar {
      flex-direction: row;
      align-items: center;
    }
  }
  
  .nav {
    display: flex;
    width: 100%;
    margin: 0 50px;
    justify-content: space-around;
  }
  
  @media (max-width: 767px) {
    .nav {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  /* Resto do código CSS... */