/* navbar.module.css */

.navbar {
  background-color: #123456;
}

.navLink {
  color: #ffffff;
  transition: all 0.3s ease;
}

.navLink:hover {
  color: #eba2a2;
  transform: scale(1.1);
}

.navDropDown {
  color: #ffffff;
}

.navDropdownItem {
  color: #000000;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.navDropdownItem:hover {
  color: #000000;
  background-color: #ffd9b4;
  transform: translateX(5px);
}