.sidebar {
    max-width: 250px;
    width: 250px;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.open {
    transform: translateX(-170px);
    background-color: transparent;
}

.sidebar__toggle {
    background-color: #ccc;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebar__toggleIcon {
    width: 20px;
    height: 20px;
}

.sidebar__content {
    flex-grow: 1;
    padding: 20px;
}

.sidebar__menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__menuItem {
    margin-bottom: 10px;
}

.sidebar__menuItem a {
    text-decoration: none;
    color: #000;
}