.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.form-label {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: -5px;
}

.ButtonSubmit {
    width: auto;
    margin: 10px auto;
}