.paginationWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.productRow {
    margin-top: 20px;
}

@media (max-width: 576px) {
    .productRow {
        justify-content: center;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .productRow {
        justify-content: space-between;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .productRow {
        justify-content: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .productRow {
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .productRow {
        justify-content: space-between;
    }
}