.notificacao-carrinho {
  position: relative;
  display: inline-block;
}

.notificacao-carrinho span {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fb8500;
  color: white;
  border-radius: 100%;
  padding: 1px 6px;
  font-size: 12px;
}


.itemCarrinho {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  transition: all 0.3s ease;
}


.itemCarrinho:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.imagemProduto {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

.detalhesProduto {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.detalhesProduto p {
  margin: 5px 0;
}

.detalhesProduto p:first-child {
  font-weight: bold;
}

.detalhesProduto p:last-child {
  color: #888;
}

.resumoCarrinho {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  justify-content: space-between;
}

.resumoCarrinho h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.resumoCarrinho p {
  font-size: 14px;
  margin: 0;
  color: #888;
}

.resumoCarrinho .total {
  font-size: 20px;
  font-weight: bold;
}


.botaoFinalizarCompra {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botaoFinalizarCompra:hover {
  background-color: #00b35f;
  transform: scale(0.95);
}

.carrinhoVazio {
  text-align: center;
  font-size: 16px;
  color: #888;
  padding: 20px;
}

.itemCarrinho {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detalhesProduto {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.detalhesProdutoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botaoRemover {
  background-color: transparent;
  color: rgb(202, 1, 1);
  border: none;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.botaoRemover svg {
  width: 100%;
  height: 100%;
}

.botaoRemover:hover {
  opacity: 0.8;
}



.BotaoCarrinho {
  position: relative;
  cursor: pointer;
}

.BotaoCarrinho::after {
  content: attr(data-count);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputQuantidade {
  width: 80px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  transition: border-color 0.3s;
}

.inputQuantidade:hover {
  border-color: #adb5bd;
  /* Cor da borda no hover */
}